#mapWrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width:100%;
  margin: 0px;
  padding: 40px 40px;
  background-image: url('../assets/summaryMapBg.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#map {
  height:93%;
  width: 100%;
}

.mapTitle {
  box-sizing: border-box;
  text-align: left;
  padding-left: 14px;
  height:60px;
  padding-top:16px;
  color:white;
}

.mapIcon {
  box-sizing: border-box;
  text-align: right;
  padding-right: 14px;
  height:60px;
  padding-top:16px;
  color:white;
}

.mapItem {
  width:16px;
  height:16px;
  margin-right:10px;
  position: relative;
  top:3px;
}

.summaryMap-card .el-tabs {
  height:96%;
  margin: 2% 5%;
}
.summaryMap-card .el-tabs__content {
  height:calc(100% - 40px);
}
.summaryMap-card .el-tab-pane {
  height:100%;
}
.summaryMap-card .el-tabs__item {
  color:white;
}
.summaryMap-card .el-tab-pane  > div{
  height:100%;
}
